
    [class*=" el-icon-lx"], [class^=el-icon-lx] {
        font-family: lx-iconfont!important;
    }

 	[class*=" icon-mana"], [class^=icon-mana] {
        font-family: iconfont!important;
        font-size: 22px;
        margin-right: 5px;
    }
